
<div class="modal fade in" id="modal-logs-view" aria-hidden="true" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-logs-view-title"></h4>
            </div>
            <div class="modal-body">
                <div id="item-content">

                    <div class="row">
                        <div class="col-xs-2">
                            <div class="calendar">
                                <div class="date">
                                    <div class="month">

                                       
                                    </div>
                                    <div class="day">

                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10">

                            <div class="form-group">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fa fa-cog"> <span class="header-subinfo-request-response"><a id="subinfo-request-response-label"></a></span></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-home">   <span class="subinfo" id="subinfo-request-response-domain"></span></i>
</li>

                                    <li>
                                        
                                        <i class="fa fa-clock-o"> <span class="subinfo" id="subinfo-request-response-dayofweek"></span> <span class="subinfo" id="subinfo-request-response-time"></span></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-code"> <span class="subinfo-request-response-message" id="subinfo-request-response-message"> </span></i>
</li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer-buttons">
                <span id="modal-logs-view-footer-note"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>